/* Light Mode Button Styles
--------------------------- */

.light-mode-button {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 35px; /* Reduce the height by 10px */
    width: 95px; /* Reduce the width by 5px */
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-top: 5px;
    margin-right: 10px;
}

.light-mode-button:focus {
    outline: none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px; /* Reduce the width by 5px */
    height: 30px; /* Reduce the height by 10px */
    border-radius: 10px; /* Adjust the border-radius for a more circular shape */
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px; /* Reduce the left position by 5px */
    width: 20px; /* Reduce the width by 10px */
    height: 20px; /* Reduce the height by 10px */
    background-color: #fff;
	border-radius: 7px;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
}

/* Define styles for elements in dark mode */
/* Dark mode styles for the header */
/* Dark mode styles */
body[light-mode="dark"] .section-padding {
    background-color: #1a1a1a; /* Dark background color for the section */
    color: #ced4e2; /* Light text color for the section */
}
/* Dark mode styles for the preloader section */
body[light-mode="dark"] .preloader {
    background-color: #000; /* Set a dark background color */
    color: #fff; /* Set light text color for the preloader text */
}

body[light-mode="dark"] .preloader .loader-text {
    color: #fff; /* Set text color for the loader text in dark mode */
}
body[light-mode="dark"] .preloader img {
    filter: invert(1); /* Invert images in dark mode */
}
.carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 50%; /* Adjust this value to move the arrows up or down */
        transform: translateY(-50%);
        font-size: 40px;
        color: black;
    }

    .carousel-control-prev {
        left: 0; /* Position the previous button on the left */
    }

    .carousel-control-next {
        right: 0; /* Position the next button on the right */
    }
/* Use !important to ensure arrow color takes precedence */
body[light-mode="dark"] .carousel-control-prev i,
body[light-mode="dark"] .carousel-control-next i {
    color: #fff !important; /* Change arrow colors to white in dark mode */
}

body[light-mode="dark"] .carousel-item img {
    filter: invert(1); /* Invert images in dark mode */
}

/* Original styles for light mode */
.section-padding {
    background-color: #f6f6f6; /* Light background color for the section */
    color: #000; /* Dark text color for the section */
}

.carousel-control-prev i, .carousel-control-next i {
    color: #000; /* Arrow colors for light mode */
}

body[light-mode="dark"] .header-nav {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
}

body[light-mode="dark"] .header-nav .navbar-brand img {
    filter: invert(1); /* Invert logo colors for dark mode */
}
body[light-mode="dark"] .header-nav .navbar-button a.btn-sm {
    color: #fff; /* Button text color in dark mode */
}
/* CSS for mobile devices */
@media (max-width: 767px) {
    /* Apply black background and make it important */
    body[light-mode="dark"] .navbar-collapse.collapse.show {
        background-color: #1a1818 !important;
    }
	
}
/* Set text color to white for dark mode */
body[light-mode="dark"] ul.dropdown-menu {
    color: white; /* Text color for the dropdown menu in dark mode */
}

body[light-mode="dark"] ul.dropdown-menu a.dropdown-item {
    color: white !important; /* Text color for the dropdown items in dark mode (important to override other styles) */
}
/* Set the color of the slider indicators to black in light mode */
body[light-mode="light"] .carousel-indicators li {
    background-color: black; /* Indicator color in light mode */
}

/* Set the active indicator color to black in light mode */
body[light-mode="light"] .carousel-indicators li.active {
    background-color: black; /* Active indicator color in light mode */
}

/* Define styles for elements in dark mode */
/* Dark mode styles for the header */
body[light-mode="dark"] .header-nav {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
}

body[light-mode="dark"] .header-nav .navbar-brand img {
    filter: invert(1); /* Invert logo colors for dark mode */
}

body[light-mode="dark"] .header-nav .navbar-button a.btn-sm {
    color: #fff; /* Button text color in dark mode */
}

/* Dark mode styles for dropdown menu */


/* Style the dropdown item text in dark mode */
body[light-mode="dark"] .header-nav .dropdown-item {
    color: #000000; /* Dropdown item text color in dark mode */
}

body[light-mode="dark"] .header-nav .dropdown-item:hover {
    background-color: #444; /* Background color for hovered dropdown items in dark mode */
}

/* Dark mode styles for navigation links */
body[light-mode="dark"] .navbar-nav .nav-item a.nav-link {
    color: white; /* Default text color for non-selected items in dark mode */
}

body[light-mode="dark"] .navbar-nav .nav-item.active a.nav-link {
    color: red; /* Text color for the active item in dark mode */
}

/* Dark mode styles for dropdown menu items */
body[light-mode="dark"] .navbar-nav .dropdown-menu .dropdown-item {
    color: rgb(0, 0, 0); /* Dropdown item text color in dark mode */
}

body[light-mode="dark"] .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #444; /* Background color for hovered dropdown items in dark mode */
}

/* Dark mode styles for dropdown menu links */
body[light-mode="dark"] .navbar-nav .dropdown-menu a.dropdown-item.active {
    color: red; /* Text color for the active dropdown item in dark mode */
}



body[light-mode="dark"] {
    background-color: #1a1a1a;
    color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #141516;
}

body[light-mode="dark"] a {
    color: #ced4e2;
}

.text-color[light-mode="dark"] {
    color: #404040; /* rgb(64,64,64) */
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #ced4e2;
    line-height: 1.3;
}

body[light-mode="dark"] .dark-mode {
    /* Add your dark mode styles for the section here */
    background-color: #1a1a1a; /* Example background color */
    color: #ced4e2; /* Example text color */
    /* Add other styles as needed */
}

/* Dark mode styles */
body[light-mode="dark"] section {
    background-color: #1a1a1a;
    color: #ced4e2;
    /* Add other dark mode styles */
}
body[light-mode="dark"] section h1,
body[light-mode="dark"] section h2,
body[light-mode="dark"] section li,
body[light-mode="dark"] section p,
body[light-mode="dark"] section i,
body[light-mode="dark"] section span,
body[light-mode="dark"] section h3  {
    color: #ced4e2; /* Example text color for dark mode */
    /* Add other styles as needed for h1 and h2 */
}

/* Dark mode styles for the specific section */
body[light-mode="dark"] .contact-section {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
}

body[light-mode="dark"] .contact-section .form-control {
    background-color: #333333; /* Dark input background color */
    color: #fff; /* Light text color for inputs */
    border-color: #888888; /* Dark border color for inputs */
}

body[light-mode="dark"] .contact-section .form-control::placeholder {
    color: #ccc; /* Placeholder text color for dark inputs */
}

body[light-mode="dark"] .contact-section .btn-primary {
    background-color: #FF3158; /* Dark background color for the submit button */
    color: #fff; /* Light text color for the submit button */
}

body[light-mode="dark"] .contact-section h2.section-title {
    color: #fff; /* Light text color for section titles */
}

body[light-mode="dark"] .contact-section p {
    color: #ccc; /* Light text color for section paragraphs */
}

body[light-mode="dark"] .contact-section span {
    color: #ccc; /* Text color for spans in dark mode */
}

body[light-mode="dark"] .contact-section li {
    color: #ccc; /* Text color for list items in dark mode */
}

/* Dark mode styles for the footer section */
body[light-mode="dark"] footer.bg-light-gray {
    background-color: #1a1a1a; /* Change background color to dark */
}

body[light-mode="dark"] footer.bg-light-gray h2.section-title {
    color: white; /* Text color for section title in dark mode */
}

body[light-mode="dark"] footer.bg-light-gray a.btn-primary {
    background-color: #1a1a1a; /* Button background color in dark mode */
    color: white; /* Button text color in dark mode */
}

body[light-mode="dark"] footer.bg-light-gray a.btn-primary:hover {
    background-color: #1a1a1a; /* Button background color on hover in dark mode */
}

body[light-mode="dark"] footer .footer-bottom .block a {
    color: white; /* Copyright text color in dark mode */
}



body[light-mode="dark"] {
    background-color: #1a1a1a;
    color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #141516;
}

body[light-mode="dark"] a {
    color: #ced4e2;
}

.text-color[light-mode="dark"] {
    color: #404040; /* rgb(64,64,64) */
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #ced4e2;
    line-height: 1.3;
}
body[light-mode="dark"] .dark-mode {
    /* Add your dark mode styles for the section here */
    background-color: #1a1a1a; /* Example background color */
    color: #ced4e2; /* Example text color */
    /* Add other styles as needed */
}
/* Dark mode styles */
body[light-mode="dark"] section {
    background-color: #1a1a1a;
    color: #ced4e2;
    /* Add other dark mode styles */
}
body[light-mode="dark"] section h1,
body[light-mode="dark"] section h2,
body[light-mode="dark"] section li,
body[light-mode="dark"] section p,
body[light-mode="dark"] section ul,
body[light-mode="dark"] section i,
body[light-mode="dark"] section span,
body[light-mode="dark"] section h3  {
    color: #ced4e2; /* Example text color for dark mode */
    /* Add other styles as needed for h1 and h2 */
}
body[light-mode="dark"] .contact-section label  {
    color: #ced4e2; /* Example text color for dark mode */
    /* Add other styles as needed for h1 and h2 */
}
/* Dark mode styles for the specific section */
body[light-mode="dark"] .contact-section {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
}

body[light-mode="dark"] .contact-section .form-control {
    background-color: #333333; /* Dark input background color */
    color: #fff; /* Light text color for inputs */
    border-color: #888888; /* Dark border color for inputs */
}

body[light-mode="dark"] .contact-section .form-control::placeholder {
    color: #ccc; /* Placeholder text color for dark inputs */
}

body[light-mode="dark"] .contact-section .btn-primary {
    background-color: #FF3158; /* Dark background color for the submit button */
    color: #fff; /* Light text color for the submit button */
}

body[light-mode="dark"] .contact-section h2.section-title {
    color: #fff; /* Light text color for section titles */
}

body[light-mode="dark"] .contact-section p {
    color: #ccc; /* Light text color for section paragraphs */
}

body[light-mode="dark"] .contact-section span {
    color: #ccc; /* Text color for spans in dark mode */
}

body[light-mode="dark"] .contact-section li {
    color: #ccc; /* Text color for list items in dark mode */
}
/* Dark mode styles for the footer section */
body[light-mode="dark"] footer.bg-light-gray {
    background-color: #1a1a1a; /* Change background color to dark */
}

body[light-mode="dark"] footer.bg-light-gray h2.section-title {
    color: white; /* Text color for section title in dark mode */
}

body[light-mode="dark"] footer.bg-light-gray a.btn-primary {
    background-color: #1a1a1a; /* Button background color in dark mode */
    color: white; /* Button text color in dark mode */
}

body[light-mode="dark"] footer.bg-light-gray a.btn-primary:hover {
    background-color: #1a1a1a; /* Button background color on hover in dark mode */
}

body[light-mode="dark"] footer .footer-bottom .block a {
    color: white; /* Copyright text color in dark mode */
}
/* Dark mode styles for the specific navigation menu */
body[light-mode="dark"] ul.nav.nav-pills .nav-item a.nav-link {
    color: white; /* Default text color for non-selected items in dark mode */
}

body[light-mode="dark"] ul.nav.nav-pills .nav-item a.nav-link.active {
    color: red; /* Text color for the active item in dark mode */
}
/* Dark mode styles for the specific navigation list */
body[light-mode="dark"] ul.navbar-nav.mx-auto li.nav-item.active a.nav-link {
    color: red !important; /* Text color for the active item in dark mode */
}

body[light-mode="dark"] ul.navbar-nav.mx-auto li.nav-item a.nav-link {
    color: white !important; /* Text color for non-selected items in dark mode */
}
body[light-mode="dark"] .add-margin h5 {
    color: black /* Text color for the heading in dark mode */
}

body[light-mode="dark"] .add-margin .fa {
    color: black; /* Text color for font-awesome icons in dark mode */
}

body[light-mode="dark"] #prediction-list {
    color: black; /* Text color for the ordered list in dark mode */
    font-weight: bold; /* Bold text for the ordered list */
}
/* Dark mode styles for the form and its components */
body[light-mode="dark"] .rounded.shadow.form-group label,
body[light-mode="dark"] .rounded.shadow.form-group input[type="text"],
body[light-mode="dark"] .rounded.shadow.form-group input[type="email"],
body[light-mode="dark"] .rounded.shadow.form-group select,
body[light-mode="dark"] .rounded.shadow.form-group input[type="text"]::placeholder,
body[light-mode="dark"] .rounded.shadow.form-group input[type="email"]::placeholder,
body[light-mode="dark"] .rounded.shadow.form-group select::placeholder,
body[light-mode="dark"] .rounded.shadow.form-group textarea,
body[light-mode="dark"] .btn.btn-primary,
body[light-mode="dark"] .form-group p.font-weight-bold.invalid-feedback {
    background-color: #333; /* Dark background color for form elements */
    color: #fff; /* Light text color for form elements */
}
body[light-mode="dark"] .rounded.shadow.form-group select option:hover {
    background-color: #444; /* Background color for hovered select options in dark mode */
}
body[light-mode="dark"] #prediction-list {
    background-color: #333 !important; /* Dark background color for the ol element */
    color: #fff !important; /* Light text color for the ol element */
    font-weight: bold !important; /* Set font-weight to bold */
}

.bground-color {
	background-color: #F8F8F8; /* #1B2A49;  #1B2A49; #F8F8F8;  rgb(248,248,248) */
}

.text-color {
	color: #404040;  /*rgb(64,64,64) */
}

.top-font {
	font-size: 18px;
	letter-spacing: .07em;
	
}

.info-font {
	font-size: 16px;
}

.fname-font {
	font-size: 14px;
}



.topp-padding {
	padding-top: 30px;
}



li {
	font-family: 'Roboto', serif;
	font-size: 14px;
}

a:hover { 
  color: #FF0000;
}



.add-margin {
	margin-bottom: 30px;
	margin-top: 5px;
}


.add-padding {
	
	padding-bottom: 30px;
}

a {
	text-decoration: none;
}



input {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
}


.title {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hide {
	display: none;
}

.new-font {
	font-family: georgia, serif;
	letter-spacing: .05em;
}

.space-letters-large {
	letter-spacing: .1em;
}


.space-letters {
	letter-spacing: .05em;
}



.unblock {
display: inline-block;
}



input[type="file"] {
    opacity: 0;
    
}


.dont-break-out {
	/*These are technically the same but use both 
	to ensure all browsers are supported*/
	overflow-wrap: break-word;
	word-wrap: break-word;
}


.new-font {
	font-family: monospace, serif;
	font-size: 15px;
	
}




.logo h1 {
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.1;
}

.logo1 {
	font-family: 'Oswald', sans-serif;
}


.header-style {
	height: 50px;
	background-color: #0375b4; /*#303030;*/
}


.adjust-fontcolor {
	color: black;
}


.normal-header {
	display: block;
}


.btn-font {
	font-size: 18px;
	letter-spacing: .05em;
}

/*
-------------------------
Specifically for tablets
-------------------------
*/

.tag-font {
	font-size: 16px;
	
}

.new-font {
	font-family: monospace, serif;
	font-size: 16px;
}



.side-margin {
	margin-left: 20%;
	margin-right: 20%;
}

.adjust-image {
	max-width: 400px;
	
}

.bottom-padding {
	padding-bottom: 300px;
}

.bottom-margin {
	margin-bottom: 300px;
}


/*
-----------------
MEDIA QUERIES
-----------------
*/

@media only screen and (min-device-width: 1200px) {
/* Devices that are Laptops and Desktops */



.btn-font {
	font-size: 15px;
	letter-spacing: .03em;
}

.new-font {
	font-family: monospace, serif;
	font-size: 15px;
}



.side-margin {
	margin-left: 30%;
	margin-right: 30%;
}


input {
	font-size: 16px;
}



.logo h1 {
	font-size: 35px;
}

.adjust-image {
	max-width: 300px;
	
}


.card {
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
	margin-top: 16px;
	margin-bottom: 16px;
	
}

.tag-font {
	font-size: 12px;
	
}

.bottom-padding {
	padding-bottom: 300px;
}


}/*Close Media Query*/

@media only screen and (max-width: 480px) {
/*Cellphone Screens*/



.normal-header {
	display: none;
}


.logo h1 {
	font-size: 50px;
}

.adjust-image {
	max-width: 200px;
	margin-bottom: 40px;
}



.header-stylehome {
	display: none;
}



} /*Close Media Query*/




@media only screen and (max-width: 480px) and (orientation: portrait){
/*Cellphone Screens in portrait*/

.btn-font {
	font-size: 18px;
	letter-spacing: .03em;
}

.add-margintop {
	margin-top: 10%;
}

.side-margin {
	margin-left: 1%;
	margin-right: 1%;
}

.adjust-image {
	max-width: 90%;
	margin-bottom: 0px;
}

.space-letters {
	letter-spacing: .03em;
}

.logo h1 {
	font-size: 35px;
}

.bottom-padding {
	padding-bottom: 200px;
}

.mono-font h5 {
	font-size: 16px;
}

.new-font {
	font-family: monospace, serif;
	font-size: 14px;
	
}


.tag-font {
	font-size: 10px;
}

.add-padding {
	padding-bottom: 30px;
	padding-left: 2px;
	padding-right: 2px;
}


.mob-font {
	font-size: 16px;
	
}

.mob-font1 {
	font-size: 18px;
	
}

li, ol {
	font-size: 18px;
}

.fname-font {
	font-size: 16px;
}



} /*Close Media Query*/




@media only screen and (max-width: 480px) and (orientation: landscape){
/*Cellphone Screens in landscape*/

.btn-font {
	font-size: 12px;
	letter-spacing: .03em;
}

.add-margintop {
	margin-top: 10%;
}

.side-margin {
	margin-left: 15%;
	margin-right: 15%;
}

.adjust-image {
	max-width: 60%;
	margin-bottom: 10px;
}

.space-letters {
	letter-spacing: .03em;
}

.logo h1 {
	font-size: 35px;
}

.bottom-padding {
	padding-bottom: 150px;
}

.mono-font h5 {
	font-size: 16px;
}

.new-font {
	font-family: monospace, serif;
	font-size: 11px;
	
}


.add-padding {
	padding-bottom: 30px;
	padding-left: 2px;
	padding-right: 2px;
}

.tag-font {
	font-size: 12px;
}


.normal-header {
	display: none;
}


} /*Close Media Query*/


@media only all and (min-width: 520px) {
/*Tablets*/


} /*Close Media Query*/


@media only all and (max-width: 520px) and (orientation: landscape) {
/*Tablets in landscape*/




} /*Close Media Query*/





.add-margin {
	margin-bottom: 30px;
	margin-top: 20px;
}


.add-padding {
	
	padding-bottom: 30px;
}


a {
	text-decoration: none;
}



input {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
}


.title {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hide {
	display: none;
}

.new-font {
	font-family: georgia, serif;
	letter-spacing: .05em;
}


.space-letters {
	letter-spacing: .05em;
}



.unblock {
display: inline-block;
}



input[type="file"] {
    opacity: 0;
    
}


.dont-break-out {
	/*These are technically the same but use both 
	to ensure all browsers are supported*/
	overflow-wrap: break-word;
	word-wrap: break-word;
}


.new-font {
	font-family: monospace, serif;
	font-size: 15px;
	
}

li {
	font-family: monospace, serif;
	font-size: 15px;
	
}



.logo h1 {
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.1;
}

.logo1 {
	font-family: 'Oswald', sans-serif;
}


.header-style {
	height: 50px;
	background-color: #0375b4; /*#303030;*/
}


.adjust-fontcolor {
	color: black;
}


.normal-header {
	display: block;
}


.btn-font {
	font-size: 18px;
	letter-spacing: .03em;
}

/*
-------------------------
Specifically for tablets
-------------------------
*/

.tag-font {
	font-size: 16px;
	
}

.new-font {
	font-family: monospace, serif;
	font-size: 16px;
}

li {
	font-family: monospace, serif;
	font-size: 16px;
}


.side-margin {
	margin-left: 20%;
	margin-right: 20%;
}

.adjust-image {
	max-width: 400px;
	
}

.bottom-padding {
	padding-bottom: 300px;
}


/*
-----------------
MEDIA QUERIES
-----------------
*/

@media only screen and (min-device-width: 1200px) {
/* Devices that are Laptops and Desktops */


/*Adjust homepage font properties*/

.btn-font {
	font-size: 15px;
	letter-spacing: .03em;
}

.new-font {
	font-family: monospace, serif;
	font-size: 15px;
}

li {
	font-family: monospace, serif;
	font-size: 15px;
}

.side-margin {
	margin-left: 30%;
	margin-right: 30%;
}


input {
	font-size: 16px;
}



.logo h1 {
	font-size: 40px;
}

.adjust-image {
	max-width: 300px;
	
}


.card {
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
	margin-top: 16px;
	margin-bottom: 16px;
	
}

.tag-font {
	font-size: 12px;
	
}

.bottom-padding {
	padding-bottom: 300px;
}


}/*Close Media Query*/

@media only screen and (max-width: 480px) {
/*Cellphone Screens*/



.normal-header {
	display: none;
}


.logo h1 {
	font-size: 50px;
}

.adjust-image {
	max-width: 200px;
	margin-bottom: 40px;
}



.header-stylehome {
	display: none;
}



} /*Close Media Query*/




@media only screen and (max-width: 480px) and (orientation: portrait){
/*Cellphone Screens in portrait*/

.btn-font {
	font-size: 12px;
	letter-spacing: .03em;
}

.add-margintop {
	margin-top: 10%;
}

.side-margin {
	margin-left: 1%;
	margin-right: 1%;
}

.adjust-image {
	max-width: 90%;
	margin-bottom: 10px;

}

.space-letters {
	letter-spacing: .03em;
}

.logo h1 {
	font-size: 30px;
}

.bottom-padding {
	padding-bottom: 200px;
}

.mono-font h5 {
	font-size: 16px;
}

.new-font {
	font-family: monospace, serif;
	font-size: 14px;
	
}

li {
	font-family: monospace, serif;
	font-size: 12px;
}

.tag-font {
	font-size: 10px;
}

.add-padding {
	padding-bottom: 30px;
	padding-left: 2px;
	padding-right: 2px;
}



} /*Close Media Query*/




@media only screen and (max-width: 480px) and (orientation: landscape){
/*Cellphone Screens in landscape*/

.btn-font {
	font-size: 12px;
	letter-spacing: .03em;
}

.add-margintop {
	margin-top: 10%;
}

.side-margin {
	margin-left: 15%;
	margin-right: 15%;
}

.adjust-image {
	max-width: 60%;
	margin-bottom: 10px;
	
}

.space-letters {
	letter-spacing: .03em;
}

.logo h1 {
	font-size: 35px;
}

.bottom-padding {
	padding-bottom: 150px;
}

.mono-font h5 {
	font-size: 16px;
}

.new-font {
	font-family: monospace, serif;
	font-size: 11px;
	
}

li {
	font-family: monospace, serif;
	font-size: 10px;
}

.add-padding {
	padding-bottom: 30px;
	padding-left: 2px;
	padding-right: 2px;
}

.tag-font {
	font-size: 12px;
}


.normal-header {
	display: none;
}


} /*Close Media Query*/


@media only all and (min-width: 520px) {
/*Tablets*/


} /*Close Media Query*/


@media only all and (max-width: 520px) and (orientation: landscape) {
/*Tablets in landscape*/

.new-font {
	font-family: monospace, serif;
	font-size: 15px;
	
}

li {
	font-family: monospace, serif;
	font-size: 15px;
}



} /*Close Media Query*/